@font-face {
    src: url("fonts/FormaDJRVariable[opsz\,slnt\,wdth\,wght]-Edu.woff") format("woff2"),
         url("fonts/FormaDJRVariable[opsz\,slnt\,wdth\,wght]-Edu.woff2") format("woff2");
        font-family: 'Forma';
        font-style: normal;
        font-weight: 100 900;
        }
   


.hero {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero {
  width: 90%;
  height: auto;
  text-align: center;
  max-width: auto;
  max-height: auto;
  margin-top: 20px;

}


footer{
    background-color:rgb(249, 138, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.gallery {
    padding: 0.5rem;
    text-align: center;
    padding-top: 50px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.gallery img{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.text-grid {
    display: grid; /* Enable Grid layout */
    grid-template-columns: 1fr 1fr; /* Create two equal columns */
    gap: 20px; /* Add spacing between the columns */
    align-items: center; /* Vertically align the text */
    margin: 20px auto; /* Center the grid container itself */
    width: 100%;
    padding: 15px;
    margin-top: 200px;
}

.text-grid a{
    text-decoration: none;
    color: black;
}

.text-grid a:hover {
    color: rgb(249, 138, 251);
}


.left-text {
    text-align: left;
    font-family: 'Forma', sans-serif;
    font-size: 75px;
    font-weight: 800;
    white-space: nowrap;
}

.right-text {
    text-align: right;
    font-family: 'Forma', sans-serif;
    font-size: 75px;
    font-weight: 800;
}

.container {
padding: 10px;
align-items: center;
display: grid;
}



h2 {
    font-family: 'Forma', sans-serif;
    margin-left: 750px;
    font-size: 100px;
    font-weight: 700;
    margin-top: -820px;
}

.ella-photo img {
    width: 500px;
    height: auto;
    border-radius: 50px;
    margin-left: 200px;
    margin-top: 120px;

}

p {
    font-family: 'Forma', sans-serif;
    font-size: 30px;
    margin-left: 750px;
    margin-right: 200px;
    margin-bottom: 200px;
    margin-top: -390px;
    font-weight: 350;
}

p2 {
    font-family: 'Forma', sans-serif;
    font-size: 30px;
    margin-left: 750px;
    margin-right: 200px;
    margin-bottom: 500px;
    margin-top: -160px;
    font-weight: 350;
}

p3 {
    font-family: 'Forma', sans-serif;
    font-size: 30px;
    margin-left: 750px;
    margin-right: 200px;
    margin-bottom: 500px;
    margin-top: -460px;
    font-weight: 350;
}

h3 {
    font-family: 'Forma', sans-serif;
    font-size: 100px;
    font-weight: 700;
    align-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.p4, .p5 {
    font-family: 'Forma', sans-serif;
    font-size: 30px;
    font-weight: 350;
    text-align: center; 
    margin: 20px auto; 
    margin-top: 50px;
}

