@font-face {
    src: url("fonts/FormaDJRVariable[opsz\,slnt\,wdth\,wght]-Edu.woff") format("woff2"),
         url("fonts/FormaDJRVariable[opsz\,slnt\,wdth\,wght]-Edu.woff2") format("woff2");
        font-family: 'Forma';
        font-style: normal;
        font-weight: 100 900;
        }


 #full-name {
 object-fit: contain;
margin: 0;
display: block;
height: auto;
position: fixed;
width: 90%;
 top: 20%;
left: 50%;
text-align: center;
transform: translate(-50%, -50%);
    
}

.hero{
    position: fixed;
    overflow: visible;
}


footer{
    background-color:rgb(249, 138, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.logo {
    position: fixed;
    top: -30px;
    left: 0;
    margin: 1em;
    height: 175px;
    width: auto;
    display: flex;
}

.logo img{
    height: 100%;
    width: auto;
}

.gallery {
    padding: 2rem;
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.gallery img{
    width: 100%;
    height: auto;
}